<ion-app>
  <ion-menu side="start" menuId="let" contentId="app">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle><ion-item routerLink="gener-ed">General Education</ion-item></ion-menu-toggle>
        <ion-menu-toggle><ion-item routerLink="profes-ed">Professional Education</ion-item></ion-menu-toggle>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="app"></ion-router-outlet>
</ion-app>
